<div id="page-title"><h1 class="page-header text-overflow text-4x text-dark">Teams</h1></div>
<div class="page-content">
  <div class="">
    <div class="col-sm-4 eq-box-sm">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">Faridabad</div>
        </div>
        <div class="panel-body">
          <div class="test">
            <div class="mydiv">
              <ul class="list-unstyled">
                <li><span class="icon-wrap icon-wrap-sm icon-circle bg-mint"><i class="fa fa-user #{$fa-css-prefix}-2x"></i></span>
                </li>
                <li><span class="icon-wrap icon-wrap-sm icon-circle bg-danger"><i class="fa fa-user #{$fa-css-prefix}-2x"></i></span>
                </li>
                <li><span class="icon-wrap icon-wrap-sm icon-circle bg-pink"><i class="fa fa-user #{$fa-css-prefix}-2x"></i></span>
                </li>
                <li><span class="icon-wrap icon-wrap-sm icon-circle bg-warning"><i class="fa fa-user #{$fa-css-prefix}-2x"></i></span>
                </li>
              </ul>

            </div>

          </div>
        </div>
      </div>
    </div>


  </div>

</div>

