<div id="page-title"><h1 class="page-header text-overflow text-4x text-dark">Teams</h1></div>
<div class="page-content">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Faridabad</h3>
    </div>

    <div class="panel-body">
      <div class="pad-btm form-inline">
        <div class="row">

          <div class="col-sm-6 table-toolbar-left">
            <button id="demo-btn-addrow" class="btn btn-purple btn-labeled fa fa-plus">Add</button>
            <button class="btn btn-default"><i class="fa fa-print"></i></button>
            <div class="btn-group">
              <button class="btn btn-default"><i class="fa fa-exclamation-circle"></i></button>
              <button class="btn btn-default"><i class="fa fa-trash"></i></button>
            </div>
          </div>

          <div class="col-sm-6 table-toolbar-right">
            <div class="form-group">
              <input id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
            </div>
            <div class="btn-group">
              <button class="btn btn-default"><i class="fa fa fa-cloud-download"></i></button>
              <div class="btn-group">
                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                  <i class="fa fa-cog"></i>
                  <span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                  <li><a href="tables-static.html#">Action</a></li>
                  <li><a href="tables-static.html#">Another action</a></li>
                  <li><a href="tables-static.html#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="tables-static.html#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table below-->
      <table class="table table-stripped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Member Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a class="btn-link" href="tables-static.html#"> Order #53431</a></td>
          <td>Steve N. Horton</td>
          <td><span class="text-muted"><i class="fa fa-clock-o"></i> Oct 22, 2014</span></td>
          <td>$45.00</td>
          <td>
            <div class="label label-table label-success">Paid</div>
          </td>
          <td>-</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>