<div class="modal fade" id="<%= "editModal#{@runner.id}" %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="panel">
      <div class="panel-heading">
        <h2 class="panel-title">Edit Runner</h2>
      </div>

      <%= render 'runners/form' %>
    </div>
  </div>
</div>