<div id="page-content">
  <div id="page-title"><h1 class="page-header text-overflow text-4x text-dark">Edit Coordinator</h1></div>

  <div class="panel">
    <div class="panel-heading">
      <h2 class="panel-title"> Edit Customer Details</h2>
    </div>

    <div class="panel-body">
      <%= render 'form' %>
    </div>
  </div>
</div>