<div id="tracker-container" class="aside-in aside-left aside-bright reveal">
  <aside id="aside-tracker-container">
    <div id="aside">
      <div class="nano">
        <div class="nano-content">

          <!--Nav tabs-->
          <!--================================-->
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-1" data-toggle="tab">
                <small>Assigned</small>
                <span class="badge badge-purple">7</span>
              </a>
            </li>
            <li>
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-2" data-toggle="tab">
                <small>Un-Assigned</small>

              </a>
            </li>
            <li>
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-3" data-toggle="tab">
                <small>Completed</small>
              </a>
            </li>
          </ul>
          <!--================================-->
          <!--End nav tabs-->


          <!-- Tabs Content -->
          <!--================================-->
          <div class="tab-content">

            <!--First tab (Contact list)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade in active" id="demo-asd-tab-1">
              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Assigned Tasks
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>

            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End first tab (Contact list)-->


            <!--Second tab (Custom layout)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade" id="demo-asd-tab-2">

              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Un - Assigned Tasks
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>
            </div>
            <!--End second tab (Custom layout)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


            <!--Third tab (Settings)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade" id="demo-asd-tab-3">
              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Completed Tasks
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>

            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--Third tab (Settings)-->

          </div>
        </div>
      </div>
    </div>
  </aside>
</div>

<div id="maps" style="">

</div>

<div id="tracker-container" class="aside-in aside-bright reveal">
  <aside id="aside-tracker-container">
    <div id="aside">
      <div class="nano">
        <div class="nano-content">

          <!--Nav tabs-->
          <!--================================-->
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-4" data-toggle="tab">
                <small>Active</small>
                <span class="badge badge-purple">7</span>
              </a>
            </li>
            <li>
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-5" data-toggle="tab">
                <small>Offline</small>
              </a>
            </li>
            <li>
              <a href="layouts-aside-bright-theme.html#demo-asd-tab-6" data-toggle="tab">
                <small>total</small>
              </a>
            </li>
          </ul>
          <!--================================-->
          <!--End nav tabs-->


          <!-- Tabs Content -->
          <!--================================-->
          <div class="tab-content">

            <!--First tab (Contact list)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade in active" id="demo-asd-tab-4">
              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Online Runners
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End first tab (Contact list)-->


            <!--Second tab (Custom layout)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade" id="demo-asd-tab-5">

              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Offline Runners
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>
            </div>
            <!--End second tab (Custom layout)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->


            <!--Third tab (Settings)-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div class="tab-pane fade" id="demo-asd-tab-6">
              <h4 class="pad-hor text-thin">
                <span class="pull-right badge badge-warning">3</span> Total Runners
              </h4>

              <!--Family-->
              <div class="list-group bg-trans">
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av2.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Stephen Tran</div>
                    <span class="text-muted">Availabe</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av4.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Brittany Meyer</div>
                    <span class="text-muted">I think so</span>
                  </div>
                </a>
                <a href="layouts-aside-bright-theme.html#" class="list-group-item">
                  <div class="media-left">
                    <img class="img-circle img-xs" src="img/av3.png" alt="Profile Picture">
                  </div>
                  <div class="media-body">
                    <div class="text-lg">Donald Brown</div>
                    <span class="text-muted">Lorem ipsum dolor sit amet.</span>
                  </div>
                </a>
              </div>


              <hr>

            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--Third tab (Settings)-->

          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
